# Specify the decription key in one of two ways
key = 0x1234567890ffffffffffffffffffffffffffffffffffffffffffffffffffffff
# key = [0x12, 0x34, 0x56, 0x78, 0x90, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff, 0xff]
